<!-- Navbar section -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 success logo ms-4" href="/">xPenses</a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li> -->
          </ul>
  
          <!-- Button trigger modal -->
          <a href="/logout">
            <button
              type="button"
              class="btn btn-outline-success mx-2"
              data-bs-toggle="modal"
              data-bs-target="#loginmodal"
            >
              Logout
            </button>
          </a>
        </div>
      </div>
  </nav>

<form method="post"  action ="/transactions/transfer/update/<%=transactionid%>/<%=accountid%>" class="my-5">
    <label for="exampleInputEmail1">Select member for Transfer </label>
    <select class="form-select" name="transfermember" aria-label="Default select example" value="" >
     <% members.forEach((m)=>{ %>
        <option value="<%=m.id%>"> <%=m.name%> | <%=m.email%></option>
    <%  }) %>
    </select>
     <div class="form-group">
       <label for="exampleInputEmail1">Amount: </label>
        <input
        type="text"
        class="form-control desc"
        placeholder="$100"
        name="amount"
       required
    value = <%=tr.amount %>

      />
     </div>
       <button class="btn btn-success my-3" type="submit">
         Transfer
       </button>

   </form>



