<!-- Navbar section -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 success logo ms-4" href="/">xPenses</a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li> -->
          </ul>
  
          <!-- Button trigger modal -->
          <a href="/logout">
            <button
              type="button"
              class="btn btn-outline-success mx-2"
              data-bs-toggle="modal"
              data-bs-target="#loginmodal"
            >
              Logout
            </button>
          </a>
        </div>
      </div>
  </nav>
<!-- Main section -->
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">Group Transactions</h4>
   <% if(expenses==undefined || expenses.length === 0){ %>
        <p class="text-danger">You do not have any transaction, Try adding one.</p>
    <% }else{ %>
     <%   expenses.forEach((e)=>{ %>
      <div class="d-flex text-body-secondary pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#18a582"></rect></svg>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark"><%=e.desc%></strong>
           <div> 
            <a
            type="button"
            <% if(e.transactiontype=="transfer" ){ %>
              href="/transactions/transfer/edit/<%=e.id%>/<%=accountid%>"
          <%  } else{ %>
            href="/transactions/edit/<%=e.id%>/<%=accountid%>"
        <%  }%>
            class="btn btn-success"
                           >
           Edit
           </a>
            <a href="/transactions/delete/<%=e.id%>/<%=accountid%>" class="btn btn-danger">Delete</a></div>
          </div>
         <% if(e.transactiontype=="expense" ){ %>
            <span class="d-block text-danger">-$<%=e.amount%></span>
       <%   }else if(e.transactiontype=="income"){ %>
            <span class="d-block text-success">+$<%=e.amount%></span>
      <% }else{ %>
        <span class="d-block text-dark">$<%=e.amount%></span>
     <% } %>
          
        </div>
      </div>
     <%   })  }%>
    <small class="d-block text-end mt-3">
      <% if(members.length > 1){ %>
        <a href="/transactions/transfer/<%=accountid%>" class="btn btn-secondary">Transfer</a>
   <%   } %>
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#expensemodal"
        >
          <!-- <i class="fa-solid fa-3x fa-circle-plus text-success"></i> -->
          Add Expense/Income
        </button>

      </small>
  </div>


  <!-- Members container -->
  <div class="my-5 p-3 bg-body rounded shadow-sm">
    <h4 class="border-bottom pb-2 mb-0">Group members</h4>
  <%  members.forEach((m)=>{ %>
      <div class="d-flex text-body-secondary pt-3">
        <svg
          class="bd-placeholder-img flex-shrink-0 me-2 rounded bg-success"
          width="32"
          height="32"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: 32x32"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#18a582"></rect>
        </svg>
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark"><%= m?.name %> </strong>
            <strong class="text-gray-dark fs-6">
          <%  const userAmount =  userWiseAmount.find((user)=>user.name==m.name) %>
           <%  if(userAmount && members.length===1){ %>
            <%=  (totalsum / members.length)%>
         <%  }else if(userAmount){ %>
                <%=  (totalsum / members.length) - userAmount.balance %>
         <%  }else{ %>
                <%=totalsum / members.length%>
         <% } %>
         </strong>
          </div>
        </div>

      </div>
   <% }) %>
     

    <small class="d-block text-end mt-3">
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#addmembermodal"
      >
        <i class="fa-solid fa-3x fa-circle-plus text-success"></i>
      </button>
    </small>
  </div>

 <!-- Add Expense modal -->
 <div
 class="modal fade"
 id="expensemodal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="exampleModalLabel">Add Expense</h1>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
       <form method="post"  action ="/transactions/add/<%=accountid%>" class="account-add">
        <label for="exampleInputEmail1">Select type of transaction: </label>
        <select class="form-select" name="transactiontype" aria-label="Default select example" >
            <option selected value="expense">Expense</option>
            <option value="income">Income</option>
        </select>
         <div class="form-group">
           <label for="exampleInputEmail1">Expense Desc: </label>
           <input
             type="text"
             class="form-control desc"
             aria-describedby="emailHelp"
             placeholder="Groceries etc.,"
             name="desc"
             required
           />
         </div>
         <div class="form-group">
            <label for="exampleInputEmail1">Amount:  </label>
            <input
              type="number"
              class="form-control amount"
              aria-describedby="emailHelp"
              placeholder="$ 10.99"
              name="amount"
              required
            />
          </div>
         <!-- <button type="submit" class="btn btn-success mt-3">Submit</button> -->
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-secondary"
             data-bs-dismiss="modal"
           >
             Close
           </button>
           <button class="btn btn-success" type="submit">
             Add Expense
           </button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>
 <!-- Add members modal -->
 <div
 class="modal fade"
 id="addmembermodal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="exampleModalLabel">Add member</h1>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
       <form method="post"  action ="/account/addmember/<%=accountid%>" class="account-add">
         <div class="form-group">
           <label for="exampleInputEmail1">Friend's email: </label>
           <input
             type="email"
             class="form-control"
             aria-describedby="emailHelp"
             placeholder="friend@mail.com"
             name="memberemail"
             required
           />
         </div>
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-secondary"
             data-bs-dismiss="modal"
           >
             Close
           </button>
           <button class="btn btn-success" type="submit">
             Add member
           </button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>


